body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

h1{
    color:#34495e;
    text-align: center;
}
 
div {
    margin:50px auto;
	background: #34495e;
    width:400px;
    height:150px;
    border-radius:15px;
    color:yellowgreen;
    text-align:center;
    line-height:150px;
    font-size:80px
}