body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

h1{
    color: white;
}
 h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clock {
    text-align: center;
}

